.login-button{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    cursor: pointer;
    padding: 5px;
}

.nav-section{
    display: flex;
    justify-content: center;
}

.menu-list{
    display: flex;
    list-style-type: none;
}

.menu-list li{
    padding: 10px;
}

.menu-area{
    display: flex;
    justify-content: center;
}

.input-box{
    border-width: 0 0 1px;
    padding-left: 30px;
    padding-bottom: 5px;
}

input:focus {
    outline: none;
}

.search-icon {
    position: relative;
    left: 20px;
    color: #5F6368;}

.product-card{
    display:flex ;
    flex-direction: column;
}

.product-card :hover{
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.product-img{
    display: flex;
    justify-content: flex-end ;
}