body{
    display: flex ;
    justify-content: center;
}

.login-button{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    cursor: pointer;
}

.user-button{
    padding-top: 4px ;
    margin-right: 10px;
}

.nav-section{
    display: flex;
    justify-content: center;
}

.menu-list{
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
}

.menu-list li{
    padding: 0.5em 0.5em;
}

.menu-area{
    display: flex;
    justify-content: center;
}

.input-box{
    border-width: 0 0 1px;
    padding-left: 30px;
    padding-bottom: 5px;
    width: 110px;
}

input:focus {
    outline: none;  /* 입력 창을 클릭했을 때 나타나는 파란색 테두리를 제거. */
}

.search-icon {
    display: flex;
    justify-content: center;
    position: relative;
    left: 20px;
    padding-top: 5px ;
    color: #5F6368;}
    

.search-wrap{
    display: flex;
    justify-content: end;
    margin-bottom: 1em;
}

.product-card{
    display:flex ;
    justify-content: center;
    margin-bottom: 1em;
}

.product-card :hover{
    -webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.product-detail{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    
    



  }